body {
    margin: 0;
    padding: 5px 30px 10px 30px;
}

body div.main {
    text-align: center;
}

h3 {
    font-weight: normal;
}

#examples a {
    margin: 5px 20px;
    white-space:nowrap;
    display:inline-block;
}

#input {
    text-align: left;
    display: block;
    height: 90px;
    font-size: 20px;
    clear: both;
    padding: 3px 5px;
    resize: vertical;
    margin: 10px auto 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#input_description {
    clear: both;
    text-align: left;
    padding-top: 10px;
    font-size: 18px;
    line-height: 29px;
    overflow: hidden;
}

#input_description span {
    margin: 3px 5px;
    padding: 2px 5px;
    border: 2px dashed #393;
    color: #393;
    border-radius: 10px;
    background-color: #fff;
    white-space: nowrap;
    display: inline-block;
}

#input_description span.error, #input_description span.error.tooltip_active {
    border-color: #933;
    color: #933;
}

#input_description span.tooltip_active {
    border: 2px dashed #339;
    border-bottom: none;
    color: #339;
    border-radius: 10px 10px 0 0;
    background-color: #fdfdfd;
    z-index: 5;
    position: relative;
    padding-bottom: 10px;
}

#infobox {
    text-indent: 10px;
    border: 2px dashed #339;
    background-color: #f7f7f7;
    position: relative;
    display: none;
    line-height: 20px;
    font-size: 16px;
    text-align: left;
    z-index: 3;
}

#infobox.error {
    border-color: #933;
}

#infobox .note:before {
    content: "Note: ";
    font-weight: bold;
    color: #339;
    margin-left: 10px;
}

#infobox .note {
    padding: 5px 0;
    background-color: #ddf;
}

#infobox.error .error:before {
    content: "Error: ";
    font-weight: bold;
    color: #933;
    margin-left: 10px;
}

#infobox.error .error {
    padding: 5px 0;
    background-color: #fdd;
}

#infobox p {
    padding: 0 5px 0 10px;
    margin: 0 0 10px 0;
    text-indent: 10px;
}

#infobox p:first-child {
    margin-top: 5px;
}

#infobox p:last-child {
    margin-bottom: 4px;
}

#infobox code {
    font-family: monospace;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 15px;
    background-color: #fafafa;
    display: block;
}

#infobox .title {
    border-bottom: 1px solid #ccc;
    background-color: #fdfdfd;
    padding: 4px 0 4px 10px;
    font-size: 17px;
    font-weight: bold;
}

#infobox.negation .title {
    border-bottom: 1px solid #ccc;
    background-color: #fdfdfd;
    padding: 4px 0 4px 10px;
    font-size: 17px;
    font-weight: bold;
}

#infobox .short_info {
    border-bottom: 1px solid #ccc;
    background-color: #fdfdfd;
    padding: 4px 0 4px 10px;
    font-size: 17px;
}

div.see, div.overrides {
    padding: 3px 5px;
    border-top: 1px solid #ccc;
    background-color: #fdfdfd;
}